node_modules
tmp
packages/framework/dist
packages/start-env/dist
packages/ts-config/dist
apps/hydra/dist
apps/yo-agent/dist
apps/yo-mcp/dist
apps/yo-mcp/playwright-report
apps/yo-mcp/test-results
packages/cli/dist
